@charset "UTF-8";
/* общие настройки */
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #333333;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  background-color: #bdbdbd;
}

form {
  width: 100%;
}

a,
.uk-link:hover,
a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

picture {
  display: inline-block;
}

img {
  width: 100%;
}

.lock {
  overflow: hidden;
}

.mobile__content,
.mobile__content-social,
.is-mobile {
  display: none;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}

ins {
  background: none;
}

.slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 15px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-dots li {
  background-color: white;
  margin: 0 7.5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li button {
  position: absolute;
  font-size: 0;
  height: 0;
}

.slick-dots li.slick-active {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: transparent;
  background-color: rgba(51, 51, 51, 0.8);
  height: 40px;
  width: 42px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-prev::before,
.slick-next::before {
  content: url(../img/icon/arrow_left.png);
  position: absolute;
}

.slick-prev {
  border-radius: 0 36px 36px 0;
  left: 0;
}

.slick-prev::before {
  left: 10px;
}

.slick-next {
  right: 0;
  border-radius: 36px 0 0 36px;
}

.slick-next::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 10px;
  bottom: 14px;
}

#breadcumbs {
  padding: 0 5px;
  margin-bottom: 15px;
}

#breadcumbs ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#breadcumbs ul li::after {
  content: "/";
  margin: 0 2px 0 0;
  color: #333333;
  font-size: 1em;
}

#breadcumbs ul li a {
  color: #333333;
  white-space: nowrap;
  line-height: 16px;
}

#breadcumbs ul li a:hover {
  text-decoration: underline;
}

#breadcumbs ul li:last-child::after {
  content: none;
}

#breadcumbs ul li:last-child a:hover {
  opacity: 1;
  cursor: inherit;
  text-decoration: none;
}

.burger {
  display: none;
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  src: url("../fonts/Roboto-Regular.woff") format("woff");
}

#header {
  background-color: #036094;
  padding: 42px 0;
}

.header__top__row {
  padding: 0;
}

.header__top__row .header__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 460px;
  margin-left: auto;
  position: relative;
}

.header__top__row .header__search form button {
  position: absolute;
  top: 0;
  left: 0;
}

.header__top__row .header__search .header__search-description {
  font-size: 1.429em;
  color: white;
}

.header__top__row input[type="s"] {
  max-width: 260px;
  padding: 8px 12px;
  border: 1px solid #333333;
  background-color: white;
}

.header__center__row {
  background-color: #1d475f;
  position: relative;
  padding: 60px 15px 65px;
  margin-bottom: 10px;
}

.header__center__row-description {
  text-align: right;
  margin-right: 30px;
}

.header__center__row-description span {
  font-size: 3.214em;
  color: white;
  font-weight: bold;
}

.header__logo {
  padding: 15px;
  position: absolute;
  width: 100%;
  max-width: 371px;
  top: -38px;
  background-image: url(../img/logos/logo__border.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__logo-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-bottom span {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 15px -15px;
}

.logo {
  max-width: 340px;
  margin: 0 auto 10px;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 23px;
}

.menu__items li {
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.menu__items li:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #999999;
}

.menu__items li:last-child {
  border-radius: 0 5px 5px 0;
}

.menu__items li a {
  display: inline-block;
  padding: 10px 18px;
  font-size: 1.286em;
  color: white;
}

#cart .cart__btn {
  display: block;
  background-color: transparent;
  width: 60px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

#cart .cart__btn img {
  -o-object-fit: cover;
     object-fit: cover;
}

#cart .cart__btn .basket-btn__counter {
  position: absolute;
  right: -15px;
  top: -10px;
  padding-top: 4px;
  background-color: red;
  border: 1px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1.429em;
  width: 30px;
  height: 30px;
}

#category {
  background-image: url(../img/category_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 0 25px;
  background-color: white;
}

.heading {
  padding: 40px 0;
  max-width: 575px;
  margin-left: auto;
}

.heading h1 {
  font-size: 3.214em;
  line-height: 53px;
  color: white;
}

.category__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left__sidebar {
  max-width: 210px;
}

.left__sidebar ul {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  padding-bottom: 25px;
  padding-top: 12px;
}

.left__sidebar ul::before {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.25);
}

.left__sidebar ul li {
  padding-left: 9px;
}

.left__sidebar ul li::after {
  content: "";
  display: block;
  width: 190px;
  height: 1px;
  background-color: #777777;
}

.left__sidebar ul li a {
  color: #333333;
  line-height: 16px;
  display: inline-block;
  padding: 6px 0;
  width: 100%;
  max-width: 190px;
}

.left__sidebar nav {
  margin-bottom: 3px;
}

.heating__systems .head,
.сooling__systems .head,
.equipment .head {
  display: block;
  width: 100%;
  height: 84px;
  position: relative;
  background-image: url(../img/triangle-bg-orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  z-index: 1;
}

.heating__systems .head span,
.сooling__systems .head span,
.equipment .head span {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1.286em;
  display: block;
  width: 100%;
  max-width: 150px;
  text-transform: uppercase;
  margin-left: 62px;
  margin-top: auto;
  cursor: pointer;
}

.heating__systems .head span::before,
.сooling__systems .head span::before,
.equipment .head span::before {
  content: url(../img/icon/arrow__down-white.png);
  position: absolute;
  bottom: 0;
  left: -54px;
}

.сooling__systems .head {
  background-image: url(../img/triangle-bg-blue.png);
  height: 94px;
}

.equipment .head {
  background-image: url(../img/triangle-bg-grey.png);
}

.equipment .head span {
  margin-left: 45px;
}

.equipment .head span::before {
  left: -37px;
}

.category__navigation {
  margin-bottom: 15px;
}

.category__filtr {
  padding: 20px 0;
  margin-bottom: 25px;
}

.stock__items {
  margin-bottom: 25px;
}

.stock {
  position: relative;
  background: #e7e5e5;
  border: 0.36721px solid black;
  padding: 6px 4px 6px 12px;
  margin-bottom: 15px;
}

.stock h3 {
  font-size: 0.631em;
  color: black;
  text-align: center;
  line-height: 10px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
  max-width: 196px;
}

.stock p {
  display: inline-block;
  width: 100%;
  max-width: 196px;
}

.stock__name {
  display: inline-block;
  width: 100%;
  font-size: 0.631em;
  line-height: 10px;
  color: black;
  text-align: right;
  text-transform: uppercase;
}

.stock__pseudo {
  position: absolute;
  left: -1px;
  top: 0;
  width: 82px;
  height: 20px;
  display: block;
  background-image: url(../img/triangle-stock-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  font-size: 0.786em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 16px 0 0px;
}

.modal__btn {
  display: block;
  width: 100%;
  min-height: 50px;
  max-width: 195px;
  background-color: transparent;
  background-image: url(../img/logos/btn__border.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  color: #1d475f;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right__content {
  max-width: 880px;
}

.right__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.right__content-top span {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 220px;
  height: 84px;
  display: block;
}

.right__content-top span:nth-child(2), .right__content-top span:nth-child(4) {
  background-image: url(../img/triangle-bg-grey-contetnt-left.png);
}

.right__content-top span:nth-child(1), .right__content-top span:nth-child(3) {
  background-image: url(../img/triangle-bg-grey-contetnt-right.png);
}

.right__content-top span picture {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.search-sort {
  max-width: 850px;
  margin: 0 auto;
  background: #1d475f;
  border-radius: 5px;
  padding: 8px 10px 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 21px;
}

.search-sort .sort,
.search-sort .search {
  width: 100%;
}

.search-sort form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-sort label {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: white;
  margin-right: 15px;
}

.search-sort input,
.search-sort select {
  background: #ffffff;
  border-radius: 5px;
  padding: 8px 11px;
  font-family: inherit;
  font-size: inherit;
}

.search-sort input[type="s"] {
  max-width: 290px;
}

.search-sort select {
  max-width: 240px;
  width: 100%;
  color: inherit;
}

.category__product-items ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.category__product-item {
  padding: 0 10px;
  margin-bottom: 10px;
}

.category__product-item .item__img {
  margin-bottom: 6px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 160px;
  width: 200px;
}

.category__product-item .item__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.category__product-item .item__name {
  margin-bottom: 10px;
}

.category__product-item p {
  margin-bottom: 5px;
}

.category__product-item .item__manufacturer {
  margin-bottom: 16px;
}

.category__product-item .item__price {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.category__product-item .button__add_to_cart {
  display: block;
  width: 100%;
  min-height: 55px;
  max-width: 200px;
  background-color: transparent;
  background-image: url(../img/logos/btn__border.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  text-transform: uppercase;
  text-align: center;
  color: #1d475f;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto 20px;
  border-radius: 5px;
  padding-top: 19px;
}

.show__more {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 35px auto 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #036094;
  position: relative;
}

.show__more::before {
  content: url(../img/icon/show__more__before.png);
  margin-right: 10px;
}

.show__more:hover:before {
  -webkit-animation: 1s linear 0s normal none infinite running rot;
          animation: 1s linear 0s normal none infinite running rot;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.category__description h2 {
  font-size: 20px;
  line-height: 23px;
  color: #036094;
  margin-bottom: 23px;
}

.category__description p {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 23px;
}

.category__description-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.category__description-third article,
.category__description-third picture {
  max-width: 50%;
}

.category__description-third article img,
.category__description-third picture img {
  -o-object-fit: cover;
     object-fit: cover;
}

.form__heading {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 0;
  margin-bottom: 18px;
  background-color: #6923c2;
  border-radius: 4px 4px 0 0;
}

.form__body {
  padding: 0 27px;
}

.form__body span {
  display: block;
}

.form__body span:nth-child(1) {
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: bold;
}

.form__body span:nth-child(2) {
  font-size: 14px;
  margin-bottom: 9px;
}

.form__body form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__body form input[type="tel"],
.form__body form input[type="text"],
.form__body form input[type="email"] {
  height: 50px;
  border: 1px solid #6923c2;
  padding-left: 20px;
  margin-bottom: 10px;
}

.form__body form textarea {
  border: 1px solid #6923c2;
  padding: 16px 20px;
  resize: none;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: "ProximaNova";
  font-size: 16px;
}

.form__body form .info {
  margin-bottom: 10px;
  font-size: 14px;
  display: inline-block;
}

.form__body form input[type="submit"] {
  margin-bottom: 27px;
  height: 53px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.uk-modal-dialog {
  text-align: center;
  width: 100%;
  max-width: 380px;
  padding: 0;
  border-radius: 4px;
  background-color: white;
}

.uk-close {
  opacity: 1;
  position: relative;
  z-index: 2;
}

.uk-modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
}

.uk-modal-close span {
  width: 12px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 7px;
  left: 1px;
}

.uk-modal-close span::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 1px;
  background-color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 0;
}

input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  color: #999999;
}

input[type="checkbox"] {
  float: left;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #d9dfe7;
  background-color: #f7f9fb;
  left: 0;
  top: 0;
}

input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 2px;
  left: 3px;
  top: 3px;
}

input[type="checkbox"]:checked + label::after {
  border: 1px solid #6923c2;
  background-color: #6923c2;
}

input[type="submit"] {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-family: "ProximaNova-bold";
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 320px) and (max-width: 880px) {
  body,
  html {
    overflow-x: hidden;
  }
  .uk-modal-dialog {
    margin: 70px auto;
  }
  main {
    margin-top: 63px;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .conteiner {
    padding: 0 15px;
  }
  .header__bottom-menu {
    visibility: hidden;
    opacity: 0;
  }
  .burger {
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger span {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 24px;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: white;
    border-radius: 10px;
    position: absolute;
    width: 24px;
    height: 3px;
    left: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .burger::before {
    top: 23px;
  }
  .burger::after {
    bottom: 20px;
  }
  .burger.active {
    background-color: #46009f;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 30px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 31px;
  }
  .header__bottom-menu {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 63px;
    left: 0;
    background-color: #46009f;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header__bottom-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  .header__bottom-menu ul li {
    margin: 0 !important;
    width: 100%;
    padding: 7px 0;
  }
  .header__bottom-menu ul li a {
    font-size: 1rem;
    padding: 12px 0;
    font-weight: bold;
  }
  .header__bottom-menu.active {
    visibility: visible;
    opacity: 1;
  }
  .header__bottom-menu.active .sub__navigation {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .top__row,
  #header .phone {
    display: none;
  }
  .logo {
    width: 115px;
    margin-left: 15px;
  }
  #header {
    width: 100%;
    position: fixed;
    top: 0;
  }
  #header .bottom__row {
    height: 64px;
  }
  #header .bottom__row .menu .menu__item {
    padding: 10px 0 0;
  }
  #header .bottom__row .menu .menu__item a {
    width: 100%;
    display: block;
    padding: 5px 15px;
    border: none;
    font-size: 18px;
    font-family: "ProximaNova";
    font-weight: normal;
  }
  #header .bottom__row .menu .menu__item a::before {
    content: none !important;
  }
  #header .bottom__row .menu .menu__item a::after {
    content: url(../img/icon/arrow_left.png);
    opacity: 1;
    visibility: visible;
    height: 0;
    bottom: 5px;
    left: 45px !important;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #header .bottom__row .menu .menu__item:first-child a::after {
    width: calc(100% - 66px);
  }
  #header .bottom__row .menu .menu__item:first-child.active {
    background-color: #46009f;
  }
  #header .bottom__row .menu .menu__item:first-child.active a {
    color: white;
  }
  #header .bottom__row .menu .menu__item:first-child.active .activated {
    display: none;
  }
  #header .bottom__row .conteiner {
    padding: 0;
  }
  #header .header__bottom-menu ul {
    margin: 20px 0 0;
  }
  #header .btn-request__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 172px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  #header .btn-request__call a {
    margin-left: 10px;
    font-size: 0;
    width: 24px;
    height: 21px;
    background-color: #6923c2;
    background-image: url(../img/mobile/phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  #header .mobile__content {
    display: block;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 0 -15px 0 0;
  }
  #header .mobile__content span {
    display: inline-block;
    padding: 23px 0 0;
  }
  #header .mobile__content.active {
    background-color: #46009f;
  }
  #header .mobile__content-social {
    display: block;
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #46009f;
    padding: 15px 15px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #header .mobile__content-social.active {
    visibility: visible;
    opacity: 1;
  }
  #header .mobile__content-social ul {
    padding-bottom: 30px;
  }
  #header .mobile__content-social ul li a {
    width: 100%;
    display: block;
    padding: 20px 15px;
    border: none;
    font-size: 18px;
    font-family: "ProximaNova";
    font-weight: normal;
  }
  #header .mobile__content-social ul li a img {
    margin-right: 15px;
  }
  #header .sub__navigation {
    margin: -1px 0 0;
    background-color: #46009f;
    height: auto;
  }
  #header .sub__navigation .conteiner {
    padding: 0;
  }
  #header .sub__navigation .left {
    margin-top: 0px;
    max-width: 100%;
    padding-left: 15px;
  }
  #header .sub__navigation .left ul {
    margin: 0;
    padding-bottom: 15px;
  }
  #header .sub__navigation .left ul li {
    padding: 10px 0 0;
  }
  #header .sub__navigation .left ul li a {
    color: white;
    margin-bottom: 0;
    padding: 5px 0;
    font-size: 18px;
    font-family: "ProximaNova";
    font-weight: normal;
  }
  #header .sub__navigation .left .location {
    margin: 0 0 0 -15px;
    padding: 15px 5px 15px 20px;
    background-color: #6923c2;
    position: relative;
  }
  #header .sub__navigation .left .location::after {
    position: absolute;
    content: url(../img/mobile/location__mobile.png);
    right: 25px;
  }
  #header .sub__navigation .left .location a {
    color: white;
    margin-bottom: 0;
    padding: 5px 0;
    font-size: 18px;
    font-family: "ProximaNova";
    font-weight: normal;
  }
  #header .sub__navigation .right {
    display: none;
  }
  #footer {
    padding: 32px 0;
  }
  #footer .footer__item .logo {
    display: none;
  }
  #footer .footer__contacts .contacts__items .item {
    max-width: 165px;
  }
  #footer .footer__contacts .contacts__items .item:nth-child(1) {
    margin-right: 12px;
  }
  #footer .footer__contacts .contacts__items .item:nth-child(1) p:nth-child(2) {
    display: block;
    max-width: 130px;
    margin-bottom: 0;
  }
  #footer .social {
    padding-top: 30px;
  }
  #footer .conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #footer .footer__nav {
    display: none;
  }
  #first__screen {
    background-image: url(../img/mobile/first__screen.jpg) !important;
    padding: 42px 0 0;
    background-position: center top;
    background-size: contain;
  }
  #first__screen .first__screen {
    padding: 0;
  }
  #first__screen .description {
    margin: 0 0 42px;
    padding: 0 30px;
  }
  #first__screen .description h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
  }
  #first__screen .form {
    max-width: 100%;
  }
  #production {
    margin-bottom: 0;
  }
  #production .conteiner {
    position: relative;
  }
  #production .production__left {
    max-width: 475px;
    padding: 0 16px 34px;
  }
  #production .production__left h2 {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  #production .production__left .production__left-menu .tab li.active a::after {
    background-color: #6823c200;
    background-image: none;
    content: url(../img/mobile/arrow_productions.png);
    right: -21px;
    top: 0;
  }
  #production .production__left .production__left-menu li a {
    font-size: 20px;
    color: #333333 !important;
  }
  #production .production__left .production__left-menu li a::after {
    content: url(../img/mobile/arrow_productions.png);
    position: absolute;
    right: 0;
  }
  #production .production__right {
    display: none;
  }
  #best__products {
    padding: 30px 0;
  }
  #best__products .product__items .item__image {
    margin-bottom: 8px;
  }
  #best__products .product__items .item__name span {
    padding: 0 8px;
  }
  #best__products .product__items .item__configuration {
    padding: 0 8px;
  }
  #best__products .product__items .item__components {
    padding: 0 12px 5px;
  }
  #best__products .product__items .item__price .price__meter,
  #best__products .product__items .item__price .price__base {
    padding: 8px;
  }
  #best__products .product__items .item__btn {
    visibility: visible;
    opacity: 1;
    position: relative;
    bottom: unset;
    padding: 13px 8px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #best__products .product__items .item__btn .btn__designer button,
  #best__products .product__items .item__btn .btn__request button {
    width: 160px;
    font-size: 14px;
  }
  #subscription,
  #call__me {
    margin-bottom: 50px;
  }
  #subscription,
  #call__me {
    padding: 0 15px;
  }
  #subscription .conteiner,
  #call__me .conteiner {
    padding: 22px 12px;
  }
  #subscription .left,
  #call__me .left {
    margin-right: 0;
    margin-bottom: 30px;
  }
  #subscription .left span,
  #call__me .left span {
    display: inline-block;
    width: 100%;
  }
  #subscription .left span br,
  #call__me .left span br {
    display: none;
  }
  #subscription .right,
  #call__me .right {
    margin-left: 0;
  }
  #subscription .right form input[type="email"],
  #subscription .right form input[type="tel"],
  #call__me .right form input[type="email"],
  #call__me .right form input[type="tel"] {
    max-width: 100%;
  }
  #subscription .right form input[type="submit"],
  #call__me .right form input[type="submit"] {
    width: 100%;
  }
  #about {
    margin-bottom: 50px;
  }
  #about .conteiner {
    padding: 30px 15px;
    background-size: 50% 23%;
  }
  #about .achievements ul li {
    margin-bottom: 24px;
  }
  #about .achievements ul li span:nth-child(1) {
    font-size: 40px !important;
  }
  #similar__products,
  #recently__viewed,
  #our__work {
    padding: 0px 0 45px;
  }
  #similar__products .all__items,
  #recently__viewed .all__items,
  #our__work .all__items {
    display: none;
  }
  #similar__products h2,
  #recently__viewed h2,
  #our__work h2 {
    font-size: 24px;
    padding-bottom: 0px;
    padding-left: 15px;
  }
  #similar__products .slick-dots,
  #recently__viewed .slick-dots,
  #our__work .slick-dots {
    opacity: 1;
    bottom: -16px;
  }
  #similar__products .slick-dots li,
  #recently__viewed .slick-dots li,
  #our__work .slick-dots li {
    background-color: #333333;
  }
  #similar__products .item__image,
  #recently__viewed .item__image,
  #our__work .item__image {
    margin-bottom: 8px;
  }
  #similar__products .item__name span,
  #recently__viewed .item__name span,
  #our__work .item__name span {
    padding: 0 8px;
  }
  #similar__products .item__configuration,
  #recently__viewed .item__configuration,
  #our__work .item__configuration {
    padding: 0 8px;
  }
  #similar__products .item__components,
  #recently__viewed .item__components,
  #our__work .item__components {
    padding: 0 12px 5px;
  }
  #similar__products .item__price .price__meter,
  #similar__products .item__price .price__base,
  #recently__viewed .item__price .price__meter,
  #recently__viewed .item__price .price__base,
  #our__work .item__price .price__meter,
  #our__work .item__price .price__base {
    padding: 8px;
  }
  #similar__products .item__btn,
  #recently__viewed .item__btn,
  #our__work .item__btn {
    visibility: visible;
    opacity: 1;
    position: relative;
    bottom: unset;
    padding: 13px 8px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #similar__products .item__btn .btn__designer button,
  #similar__products .item__btn .btn__request button,
  #recently__viewed .item__btn .btn__designer button,
  #recently__viewed .item__btn .btn__request button,
  #our__work .item__btn .btn__designer button,
  #our__work .item__btn .btn__request button {
    width: 160px;
    font-size: 14px;
  }
  #advantages {
    margin-bottom: 49px;
  }
  #advantages .content__items li {
    max-width: 165px;
  }
  #reviews-main-page .reviews__sliders-nav {
    display: none;
  }
  #reviews-main-page .reviews__sliders-for .slider-item {
    margin: 0 0px 15px;
    padding: 23px 16px;
  }
  #reviews-main-page .reviews__sliders-for .slider-item p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 60px;
  }
  #reviews-main-page .reviews__sliders-for .slick-dots {
    opacity: 1;
    bottom: -16px;
  }
  #reviews-main-page .reviews__sliders-for .slick-dots li {
    background-color: #333333;
  }
  #questions {
    margin-bottom: 49px;
  }
  #questions h2 {
    margin-bottom: 0;
  }
  #questions .accordion-item-head {
    height: 100px;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px 15px 0;
  }
  #bottom__form .conteiner {
    padding: 0 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #bottom__form .bottom__form-left {
    padding: 22px 16px;
  }
  #bottom__form .bottom__form-left .heading {
    font-size: 20px;
    line-height: 24px;
  }
  #bottom__form .bottom__form-left .description {
    margin-bottom: 19px;
  }
  #bottom__form .bottom__form-left form input[type="submit"] {
    max-width: 100%;
  }
  #bottom__form .bottom__form-right {
    padding: 22px 16px 0;
    border: 1px solid rgba(136, 136, 136, 0.329);
  }
  #bottom__form .bottom__form-right span {
    margin-bottom: 10px;
  }
  #bottom__form .bottom__form-right ul {
    padding-left: 20px;
  }
  #bottom__form .bottom__form-right ul li:first-child {
    color: #333333;
  }
  #contacts .map {
    padding-bottom: 110%;
  }
  #contacts .content__items {
    padding: 0px 0 30px;
  }
  #contacts .content__items .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 10px;
  }
  #contacts .content__items .item:nth-child(2) p:nth-child(1)::after,
  #contacts .content__items .item:nth-child(2) p:nth-child(1)::before {
    content: none;
  }
  #success,
  #success {
    position: absolute;
    margin: -25px 10px 0;
  }
  #card-product .about__product {
    -ms-grid-columns: (minmax(320px, 800px))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(320px, 800px));
    margin: 0px 0 30px;
    grid-gap: 0;
  }
  #card-product .about__product .about__product-description {
    padding: 20px 0 0;
  }
  #card-product .right-top__conteiner .item__name h1 {
    padding: 23px 12px 23px;
  }
  #card-product .right-top__conteiner .item__configuration p {
    padding: 0 12px 15px;
  }
  #card-product .right-top__conteiner .item__price .price__meter,
  #card-product .right-top__conteiner .item__price .price__base {
    padding: 8px;
  }
  #card-product .slider-nav {
    display: none;
  }
  #card-product .right-center__conteiner .item__image {
    margin-bottom: 8px;
  }
  #card-product .right-center__conteiner .item__name span {
    padding: 0 8px;
  }
  #card-product .right-center__conteiner .item__components {
    padding: 0 12px 5px;
  }
  #card-product .right-center__conteiner .item__configuration {
    padding: 0 8px;
  }
  #card-product .right-center__conteiner .item__price .price__meter,
  #card-product .right-center__conteiner .item__price .price__base {
    padding: 8px;
  }
  #card-product .right-center__conteiner .item__btn {
    visibility: visible;
    opacity: 1;
    position: relative;
    bottom: unset;
    padding: 13px 8px 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #card-product .right-center__conteiner .item__btn .btn__designer button,
  #card-product .right-center__conteiner .item__btn .btn__request button {
    width: 160px;
    font-size: 14px;
  }
  #similar__products .similar__products-content .content-items li,
  #similar__products .recently__viewed-content .content-items li,
  #similar__products .our__work-content .content-items li,
  #recently__viewed .similar__products-content .content-items li,
  #recently__viewed .recently__viewed-content .content-items li,
  #recently__viewed .our__work-content .content-items li,
  #our__work .similar__products-content .content-items li,
  #our__work .recently__viewed-content .content-items li,
  #our__work .our__work-content .content-items li {
    margin-bottom: 10px;
  }
  #similar__products .product__items .item,
  #recently__viewed .product__items .item,
  #our__work .product__items .item {
    margin-bottom: 30px;
  }
  #similar__products .product__items .item .item__image,
  #recently__viewed .product__items .item .item__image,
  #our__work .product__items .item .item__image {
    margin-bottom: 8px;
  }
  #similar__products .product__items .item .item__name span,
  #recently__viewed .product__items .item .item__name span,
  #our__work .product__items .item .item__name span {
    padding: 0 8px;
  }
  #similar__products .product__items .item .item__configuration,
  #recently__viewed .product__items .item .item__configuration,
  #our__work .product__items .item .item__configuration {
    padding: 0 8px;
  }
  #similar__products .product__items .item .item__price .price__meter,
  #similar__products .product__items .item .item__price .price__base,
  #recently__viewed .product__items .item .item__price .price__meter,
  #recently__viewed .product__items .item .item__price .price__base,
  #our__work .product__items .item .item__price .price__meter,
  #our__work .product__items .item .item__price .price__base {
    padding: 8px;
  }
  #similar__products .product__items .item .item__components,
  #recently__viewed .product__items .item .item__components,
  #our__work .product__items .item .item__components {
    padding: 0 12px 5px;
  }
  #similar__products .product__items .item .item__btn,
  #recently__viewed .product__items .item .item__btn,
  #our__work .product__items .item .item__btn {
    visibility: visible;
    opacity: 1;
    position: relative;
    bottom: unset;
    padding: 13px 8px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #similar__products .product__items .item .item__btn .btn__designer button,
  #similar__products .product__items .item .item__btn .btn__request button,
  #recently__viewed .product__items .item .item__btn .btn__designer button,
  #recently__viewed .product__items .item .item__btn .btn__request button,
  #our__work .product__items .item .item__btn .btn__designer button,
  #our__work .product__items .item .item__btn .btn__request button {
    width: 160px;
    font-size: 14px;
  }
  #category .right__content,
  #category .left__sidebar {
    max-width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
  #category .product__items {
    -ms-grid-columns: (minmax(320px, 800px))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(320px, 800px));
  }
  #category .sorting {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #category .sorting select {
    margin-left: -5px;
  }
  #category .sorting p,
  #category .sorting .sort_by {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #category .item__btn,
  #category .slick-prev,
  #category .slick-next,
  #category .slick-dots {
    visibility: visible;
    opacity: 1;
  }
  #category .sorting,
  #category .form__conteiner form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #category .form__conteiner {
    margin-bottom: 15px;
  }
  #category .form__conteiner form:nth-child(1) .select-css,
  #category .form__conteiner form .select-css {
    margin: 0;
  }
  #category .item__image {
    margin-bottom: 8px;
  }
  #category .item__name span {
    padding: 0 8px;
  }
  #category .item__configuration {
    padding: 0 8px;
  }
  #category .item__price .price__meter,
  #category .item__price .price__base {
    padding: 8px;
  }
  #category .item__components {
    padding: 0 12px 5px;
  }
  #category .item__btn {
    visibility: visible;
    opacity: 1;
    position: relative;
    bottom: unset;
    padding: 13px 8px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #category .item__btn .btn__designer button,
  #category .item__btn .btn__request button {
    width: 160px;
    font-size: 14px;
  }
  .catalog__form {
    padding: 0;
  }
  #our__works .content .content__left {
    display: none;
  }
  #our__works .content .content__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  #our__works .content__items .item .item__img {
    max-width: 100%;
    margin-right: 0;
  }
  #services .content__items,
  #shares .content__items {
    width: 100%;
  }
  #services .content__items .item,
  #shares .content__items .item {
    margin-right: 0px;
  }
  #about__us .content .right {
    display: none;
  }
  #shema .content__items .item .item__step {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #shema .content__items .item .item__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 35px;
    margin: 0 10px 0 0;
  }
  #partners,
  #disagners {
    margin-bottom: 39px;
  }
  #partners .heading,
  #disagners .heading {
    padding-bottom: 0px;
    margin-bottom: 15px;
  }
  #partners .content__items .item,
  #disagners .content__items .item {
    width: 100%;
    margin-bottom: 30px;
  }
  #partners .content__items .item:hover .item__more,
  #disagners .content__items .item:hover .item__more {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  #partners .content__items .item .item__more,
  #disagners .content__items .item .item__more {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }
  #partners .content__items .item .item__img::before,
  #disagners .content__items .item .item__img::before {
    content: none;
  }
  #partners .content__items .item .item__img img,
  #disagners .content__items .item .item__img img {
    width: 100%;
  }
  #partners .disagners .img-heading,
  #disagners .disagners .img-heading {
    top: 80px;
    left: 15px;
    font-size: 25px;
  }
  #partners .disagners .img-description,
  #disagners .disagners .img-description {
    padding: 0;
  }
  #partners .disagners .disagners__img img,
  #disagners .disagners .disagners__img img {
    content: url(../img/partners/disigners-bg-mobile.png);
  }
  #partners .disagners .form,
  #disagners .disagners .form {
    position: relative;
    top: 20px;
    right: 0;
    padding: 23px 12px;
    max-width: 100%;
  }
  #partners .disagners form input[type="checkbox"] + label,
  #disagners .disagners form input[type="checkbox"] + label {
    margin-bottom: 20px;
  }
  #blog__single .content__items .item__img,
  #blog .content__items .item__img {
    width: 100%;
    margin: 0 0 10px;
  }
  #pagination ul a.prev {
    margin: 0 0 0 -45px;
  }
  #services .content__services .item .item__img {
    margin: 0 0 20px;
  }
  #reviews .content__items .item {
    padding: 20px 12px;
    height: auto;
  }
  #reviews .content__items .item__img {
    width: 100%;
    margin: 0 0 20px;
  }
  #reviews .content__items .item__description span {
    width: 100%;
    text-align: center;
  }
  .catalog__form .item span:nth-child(1) {
    font-size: 32px;
  }
  #breadcumbs ul li {
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=style.css.map */