.cart__heqding,
.ordering__heqding {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding: 127px 0;
  margin-bottom: 100px;
  h1 {
    text-align: center;
    font-size: 50px;
    line-height: 46px;
    text-transform: uppercase;
    color: white;
  }
}
.ordering__heqding {
  height: 300px;
  margin-bottom: 26px;
}
.cart__content,
.ordering__content {
  background-image: url(../img/cart/cart-bg-center.jpg);
  background-repeat: no-repeat;
  background-position: center top -100px;
}
.cart__content-head {
  ul {
    li {
      color: #777777;
      font-size: 24px;
      margin-bottom: 11px;
      &:last-child {
        text-align: center;
      }
    }
  }
}
.cart__item,
.cart__content-head ul {
  display: grid;
  grid-template-columns: 115px 2fr 1fr 140px 1fr;
  grid-gap: 10px;
}
.cart__item {
  margin-bottom: 17px;
  &:last-child {
    padding-bottom: 40px;
    margin-bottom: 32px;
    border-bottom: 5px solid rgb(255, 61, 0);
  }
  &-img {
    width: 105px;
    height: 80px;
    object-fit: cover;
  }
  &-name {
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    .name {
      height: 65px;
      overflow: hidden;
      display: inline-block;
    }
    .article {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 12px;
    }
  }
  &-price {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
  }
  &-counter {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }
  &-delete {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      width: 40px;
      height: 3px;
      background-color: #333333;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}
#sum {
  display: flex;
  span {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1d475f;
    font-weight: bold;
  }
  .sum-text {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 20px;
  }
}
#cartForm {
  text-align: center;
  margin-bottom: 30px;
  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(29, 71, 95);
    background: linear-gradient(
      180deg,
      rgb(3, 96, 148) 0%,
      rgba(3, 96, 148, 0) 53.12%,
      rgb(3, 96, 148) 100%
    );
    border: 3px solid rgb(3, 96, 148);
    border-radius: 5px;
    padding: 14px 0;
    @include transition;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      background: linear-gradient(
        180deg,
        rgba(3, 96, 148, 0) 0%,
        rgb(3, 96, 148) 49.48%,
        rgba(3, 96, 148, 0) 100%
      );
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      opacity: 0;
      @include transition;
    }
    &:hover {
      color: white;
      &::after {
        opacity: 1;
      }
    }
  }
}
// ordering__page
#ordering__page {
  #cartForm {
    margin-bottom: 100px;
  }
}
.ordering__content {
  max-width: 870px;
  margin: 0 auto;
}
.ordering__content-description {
  font-size: 18px;
  margin-bottom: 30px;
  display: inline-block;
  text-transform: uppercase;
}
.ordering__content-items {
  @include flex;
  justify-content: space-between;
}
.ordering__content-items {
  &__left,
  &__right {
    width: 100%;
    max-width: 380px;
    .head {
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: rgb(3, 96, 148);
      margin-bottom: 20px;
    }
    small {
      font-size: 14px;
      color: rgb(119, 119, 119);
      display: inline-block;
    }
  }
}
.form__controll {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 8px 11px;
  font-size: inherit;
  color: inherit;
}
textarea.form__controll {
  resize: none;
  height: 115px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.ordering__content-items__right {
  .head {
    margin-bottom: 35px;
  }
}
form {
  .form__body {
    background: rgb(29, 71, 95);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: block;
    padding: 10px 10px 0 35px;
  }
  p {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }
  input[type="radio"] {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 17px;
    position: relative;
    z-index: -1;
    opacity: 0;
    & + label {
      display: inline-block;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }
    & + label::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #f7f9fb;
      left: 0;
      bottom: 3px;
    }
    & + label::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 6px;
      left: 1px;
      bottom: 4px;
      border-radius: 50%;
    }
    &:checked + label::after {
      background-color: rgb(51, 51, 51);
    }
  }
  label {
    color: white;
    font-size: 14px;
  }
  &.delivery__pay {
    margin-bottom: 45px;
    .head {
      padding-top: 25px;
      margin-bottom: 15px;
    }
  }
}
