#card__product {
  #breadcumbs {
    margin: 0px 0 36px;
  }
}

.card__product {
  @include flex;
  justify-content: space-between;
}
.card__product-left {
  width: 100%;
  max-width: 503px;
}
.card__product-img {
  width: 100%;
  height: 385px;
  margin-bottom: 20px;
  img {
    object-fit: cover;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 11px;
    height: 100%;
  }
}
.card__product-rigth {
  width: 100%;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  .item__name {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 15px;
  }
  .item__availability {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    &.yes {
      color: rgb(0, 56, 255);
    }
    &.no {
      color: rgb(255, 61, 0);
    }
  }
  .item__flex {
    @include flex;
    align-items: center;
    margin-bottom: 30px;
    .item__price {
      font-size: 32px;
      line-height: 36px;
    }
  }
}
.card__product-terms {
  li {
    margin-bottom: 10px;
  }
}
.card__product-description {
  padding-bottom: 35px;
  span {
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-align: justify;
  }
}
#similar__products,
#recently__viewed {
  padding-bottom: 20px;
  h2 {
    font-size: 32px;
    line-height: 37px;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(29, 71, 95);
    margin-bottom: 20px;
  }
}
.similar__products-items,
.recently__viewed-items {
  background: rgb(237, 237, 237);
  border: 1px solid rgb(119, 119, 119);
  padding: 28px 45px;
  .item {
    max-width: 185px;
    text-align: center;
    border-radius: 10px;
    margin: 0 13px;
    a {
      color: rgb(51, 51, 51);
      @include transition;
      &:hover {
        .item__name {
          color: rgb(0, 56, 255);
        }
      }
    }
    &__img {
      display: block;
      width: 185px;
      height: 138px;
      margin-bottom: 7px;
      img {
        height: 100%;
        object-fit: cover;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
      }
    }
    &__name {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 17px;
      display: inline-block;
      width: 100%;
    }
    &__article {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 17px;
      display: inline-block;
      width: 100%;
    }
    &__price {
      font-size: 18px;
      line-height: 21px;
      display: inline-block;
      width: 100%;
      font-weight: bold;
    }
  }
}
#recently__viewed {
  padding-bottom: 35px;
}
