@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  src: url("../fonts/Roboto-Regular.woff") format("woff");
}
