#header {
  background-color: rgb(3, 96, 148);
  padding: 38px 0 65px;
}
.header__top__row {
  padding: 0;
  margin-bottom: 8px;
  .header__search {
    form {
      @include flex;
      align-items: center;
      justify-content: space-between;
      max-width: 342px;
      margin-left: auto;
      position: relative;
      button {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .header__search-description {
      font-size: 14px;
      color: white;
    }
  }
  input[type="s"] {
    font-size: 12px;
    max-width: 227px;
    padding: 6px 12px;
    border: 1px solid rgb(51, 51, 51);
    background-color: white;
  }
}

.header__center__row {
  background-color: rgb(29, 71, 95);
  position: relative;
  padding: 60px 15px 63px;
  margin-bottom: 13px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  &-description {
    text-align: right;
    margin-right: 76px;
    span {
      line-height: 47px;
      font-size: 40px;
      letter-spacing: 0.2px;
      color: white;
      font-weight: bold;
    }
  }
}
.header__logo {
  padding: 15px 0;
  position: absolute;
  width: 100%;
  max-width: 371px;
  height: 293px;
  top: -55px;
  left: 40px;
  background-image: url(../img/logos/logo__border.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  figcaption {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.857em;
    line-height: 47px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3.59669px 3.59669px rgba(255, 255, 255, 0.25);
  }
}
.header__logo-bottom {
  display: flex;
  justify-content: space-between;
  margin: 18px 0 0;
  position: relative;
  padding: 0 10px;
  span {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 1px auto 0;
  }
  .left__img {
    width: 100%;
    max-width: 155px;
  }
  .right__img {
    width: 100%;
    max-width: 110px;
    margin-top: 23px;
  }
}
.logo {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto -30px;
  img {
    object-fit: cover;
  }
}
.header__bottom__row {
  @include flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.menu__items {
  @include flex;
  align-items: flex-end;
  margin-right: 26px;
  margin-bottom: -2px;
  li {
    border-right: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    &:first-child {
      border-radius: 5px 0 0 5px;
      border-left: 1px solid rgb(153, 153, 153);
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    a {
      display: inline-block;
      padding: 11px 17.5px;
      font-size: 1.286em;
      color: white;
      @include transition;
      &[aria-current="page"],
      &:hover {
        color: rgb(255, 61, 0);
      }
    }
  }
}
#cart {
  margin: 0 30px 0 0;
  .cart__btn {
    display: block;
    background-color: transparent;
    width: 53px;
    height: 51px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    img {
      object-fit: cover;
    }
    .basket-btn__counter {
      position: absolute;
      right: -15px;
      top: -12px;
      padding-top: 4px;
      background-color: rgb(255, 0, 0);
      border: 1px solid #ffffff;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-size: 1.429em;
      width: 30px;
      height: 30px;
    }
  }
}
