#first__screen {
  background-color: rgb(3, 96, 148);
  padding-bottom: 32px;
  .container {
    padding: 0;
    position: relative;
  }
  .first__slider__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 355px;
    a {
      min-height: 76px;
      width: 100%;
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      padding: 12px 35px 0 110px;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      background-image: url(../img/modal-triangle-orange.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      @include transition;
      &:hover {
        background-image: url(../img/modal-triangle-orange-hover.png);
      }
    }
  }
}
.first__slider__item {
  padding: 52px 0 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.first__slider-description {
  width: 100%;
  max-width: 53%;
  margin-left: auto;
  text-transform: uppercase;
  color: #ffffff;
  h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 50px;
    padding-left: 92px;
    span {
      display: inline-block;
      margin-bottom: 20px;
      &:nth-child(2) {
        margin-bottom: 18px;
      }
      span {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0;
        &:nth-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
  h2 {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 177px;
  }
}
// second__screen

#second__screen {
  background-image: url(../img/second-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  &.container {
    padding: 0;
  }
  h2 {
    color: rgb(255, 61, 0);
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }
  .category__content {
    padding: 20px 11px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 1147px;
      height: 5px;
      background-color: rgb(255, 61, 0);
      top: -6px;
      left: 11px;
    }
  }
  .left__sidebar {
    max-width: 211px;
    width: 100%;
  }
  .left__sidebar-decoration {
    &::after {
      right: -17px;
      top: 114px;
      height: calc(100% - 114px);
    }
  }
  .right__content {
    max-width: 915px;
    width: 100%;
  }
  .right__content-top {
    justify-content: unset;
    span {
      width: 223px;
      height: 86px;
    }
  }
  .category__product-items {
    ul {
      margin-bottom: 93px;
    }
  }
  .category__product-item {
    padding: 24px 0 0;
    text-align: center;
    margin: 0 0px 3px;
    .item__img {
      height: 138px;
    }
    .item__name {
      margin-bottom: 19px;
    }
  }
}
.goToCatalog {
  display: block;
  width: 100%;
  max-width: 263px;
  min-height: 72px;
  padding: 29px 0 0;
  text-align: center;
  margin: 0 auto;
  font-size: 18.5px;
  text-transform: uppercase;
  color: rgb(255, 61, 0);
  border-radius: 6px;
  background-image: url(../img/logos/btn__border-orange.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  @include transition;
  &:hover {
    background-color: rgb(255, 61, 0);
    color: white;
  }
}
.second__screen-top__items {
  @include flex;
  justify-content: space-between;
  padding: 17px 8px 80px;
}
.second__screen-top__item {
  background-image: url(../img/triangle-bg-white-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 275px;
  height: 280px;
  padding: 59px 0 0;
  margin-bottom: 15px;
  @include transition;
  &:hover {
    transform: scale(1.35);
  }
  &:nth-child(2),
  &:nth-child(4) {
    background-image: url(../img/triangle-bg-white-right.png);
  }
  figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 17px;
    width: 100%;
  }
  img {
    width: 222px;
    height: 155px;
    margin: 0 auto;
    object-fit: none;
    display: block;
    border: 1px solid rgb(119, 119, 119);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}
// guarantee
#guarantee {
  h2 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  .stock__items {
    @include flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stock {
    width: 100%;
    max-width: 557px;
    min-height: 360px;
    padding-top: 20px;
    h3 {
      font-size: 25px;
      line-height: 30px;
      max-width: 100%;
      margin-bottom: 11px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
      max-width: 100%;
    }
  }
  .stock__pseudo {
    width: 215px;
    height: 50px;
    font-size: 27px;
    line-height: 32px;
    background-image: url(../img/triangle-stock-bg-big.png);
  }
  .stock__name {
    font-size: 32px;
    line-height: 25px;
    max-width: 285px;
    margin: 0px 0 13px auto;
  }
  .guarantee__table {
    width: 100%;
    max-width: 981px;
    margin: 0 auto 53px;
    position: relative;
    .modal__btn {
      position: absolute;
      bottom: 22px;
      right: 0;
      width: 100%;
      max-width: 355px;
      background-image: none;
      margin-bottom: 0;
      a {
        text-align: left;
        min-height: 76px;
        width: 100%;
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        padding: 12px 35px 0 110px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        background-image: url(../img/modal-triangle-orange-hover.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        @include transition;
        &:hover {
          background-image: url(../img/modal-triangle-orange.png);
          color: rgb(51, 51, 51);
        }
      }
    }
  }
  .guarantee__table-items {
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 39px 35px 30px 96px;
    @include flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    ul {
      width: 100%;
      &:nth-child(1) {
        max-width: 520px;
      }
      &:nth-child(2) {
        max-width: 296px;
      }
    }
    li {
      font-size: 18px;
      line-height: 21px;
      position: relative;
      display: inline-block;
      margin-bottom: 32px;
      &::before {
        position: absolute;
        left: -35px;
        bottom: -8px;
        content: url(../img/ok.png);
      }
    }
  }
  .modal__btn.stock__btn {
    max-width: 200px;
    margin: 0 auto 32px;
    a {
      text-align: center;
      width: 100%;
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: rgb(29, 71, 95);
      padding: 18px 0;
      border-radius: 5px;
      @include transition;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        background: linear-gradient(
          180deg,
          rgba(3, 96, 148, 0) 0%,
          rgb(3, 96, 148) 49.48%,
          rgba(3, 96, 148, 0) 100%
        );
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
        @include transition;
      }
      &:hover {
        color: rgb(255, 255, 255);
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .category__description {
    padding: 0 38px;
    margin-bottom: 61px;
    h2 {
      font-size: 20px;
      line-height: 23px;
      text-align: left;
      margin-bottom: 10px;
    }
    p {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  img.category__description-left {
    max-width: 564px;
    height: 213px;
    object-fit: cover;
    float: left;
    display: block;
    margin: 0 24px 14px 0;
  }
}
// contacts
#contacts {
  &.container {
    padding: 0;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #036094;
    margin-bottom: 22px;
    position: relative;
    width: 100%;
    padding-left: 30px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      max-width: 856px;
      height: 5px;
      background-color: rgb(255, 61, 0);
      right: 0;
      top: 11px;
    }
  }
  h3 {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-left: 30px;
  }
}
.contacts__content {
  @include flex;
  flex-wrap: nowrap;
  .left__map,
  .right__map {
    width: 100%;
    max-width: 612px;
  }
  .left__map-content,
  .right__map-content {
    @include flex;
    flex-wrap: nowrap;
    position: relative;
    .map-content-adress {
      width: 100%;
      max-width: 235px;
      min-height: 368px;
      padding: 40px 10px 0 20px;
      background: #036094;
      color: white;
      p {
        a {
          color: white;
        }
        &:nth-child(1),
        &:nth-child(2) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 15px;
        }
        &:nth-child(3) {
          font-size: 14px;
          line-height: 18px;
          max-width: 137px;
        }
      }
    }
  }
}
map[name="north__map"],
map[name="east__map"] {
  iframe {
    width: 350px;
  }
}
