// Mobile *******************************************************************************************

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }
  .conteiner {
    padding: 0 15px;
  }
  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 64px;
    height: 64px;
    position: relative;
    right: 0px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      background-color: white;
      border-radius: 10px;
      width: 24px;
      height: 3px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      @include transition;
    }
    &::before,
    &::after {
      content: "";
      background-color: white;
      border-radius: 10px;
      position: absolute;
      width: 24px;
      height: 3px;
      left: 20px;
      @include transition;
    }
    &::before {
      top: 23px;
    }
    &::after {
      bottom: 20px;
    }
    &.active {
      background-color: rgb(70, 0, 159);
      span {
        transform: scale(0);
      }
    }
    &.active::before {
      transform: rotate(45deg);
      top: 30px;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 31px;
    }
  }

  .header__bottom-menu {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 63px;
    left: 0;
    background-color: rgb(70, 0, 159);
    @include transition;
    ul {
      @include flex;
      flex-direction: column;
      margin: 48px 0 0;
      justify-content: center;
      align-items: center;
      padding: 0 5px;
      li {
        margin: 0 !important;
        width: 100%;
        padding: 7px 0;
        a {
          font-size: 1rem;
          padding: 12px 0;
          font-weight: bold;
        }
      }
    }
    &.active {
      visibility: visible;
      opacity: 1;
      .sub__navigation {
        opacity: 1 !important;
        visibility: visible !important;
      }
    }
  }

  // *********************************
}
