@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// Mobile *******************************************************************************************

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body,
  html {
    // overflow-x: hidden;
    font-size: 12px;
    line-height: 14px;
    &.lock {
      overflow: hidden;
    }
  }
  .conteiner {
    padding: 0 15px;
  }
  //  Burger Menu *******************************************************************************************
  .burger {
    display: block;
    width: 45px;
    height: 24px;
    position: relative;
    right: 15px;
    top: 0;
    z-index: 5;
    cursor: pointer;
    @include transition;
    span {
      position: absolute;
      background-color: white;
      border-radius: 10px;
      width: 45px;
      height: 3px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @include transition;
    }
    &::before,
    &::after {
      content: "";
      background-color: white;
      border-radius: 10px;
      position: absolute;
      width: 45px;
      height: 3px;
      left: 0;
      @include transition;
    }
    &::before {
      top: 21px;
    }
    &::after {
      bottom: 21px;
    }
    &.active {
      span {
        transform: scale(0);
      }
    }
    &.active::before {
      transform: rotate(45deg);
      top: 11px;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 10px;
    }
  }

  .header__menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: -100%;
    background-color: rgb(29, 71, 95);
    background-image: url(../img/mobile/mobil-menu-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top 20%;
    @include transition;

    .first__slider__btn {
      text-align: center;
      display: block;
      a {
        background-image: url(../img/logos/btn__border-orange.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        width: 200px;
        height: 60px;
        background-color: transparent;
        color: #ff3d00;
        padding-top: 20px;
      }
    }

    ul {
      margin: 20% 22px 20%;
      li {
        margin: 0;
        width: 100%;
        padding: 20px 0;
        border-radius: 0 !important;
        border: none !important;
        border-bottom: 3px solid white !important;
        a {
          font-size: 20px;
          font-weight: bold;
          padding: 0;
        }
      }
    }
    &.active {
      left: 0;
    }
  }
  #first__screen {
    padding-bottom: 24px;
    .first__slider__btn {
      display: none;
    }
  }

  #header {
    padding: 15px 0;
  }
  .header__top__row,
  .header__center__row-description span,
  .right__content-top {
    display: none;
  }
  .header__logo {
    background-image: none;
    height: auto;
    position: relative;
    top: -5px;
    left: unset;
    flex: 1 0 32%;
    max-width: 100%;
    padding: 0;
    figcaption {
      font-size: 12.5px;
      line-height: 15px;
    }
  }
  .header__center__row {
    padding: 0;
    margin: 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
  }

  #cart {
    margin: 0 0 0 6px;
    width: 100%;
    max-width: 100%;
    flex: 1 0 32%;
    .cart__btn {
      width: 36px;
      height: 35px;
      .basket-btn__counter {
        width: 21px;
        height: 21px;
        font-size: 14px;
        padding-top: 2px;
      }
    }
  }
  .header__logo-bottom {
    display: none;
  }
  .logo {
    max-width: 120px;
    margin: 0 auto -10px;
    img {
      width: 70px;
      height: 70px;
      margin: 0 auto;
      display: block;
    }
  }
  .first__slider__item {
    padding: 70px 0 0;
    min-height: 170px;
    &.first {
      background-image: url(../img/mobile/mobile-first__screen1.jpg) !important;
    }
    &.second {
      background-image: url(../img/mobile/mobile-first__screen2.jpg) !important;
    }
    &.third {
      background-image: url(../img/mobile/moble-first__screen3.jpg) !important;
    }
  }
  .slick-dots {
    bottom: 11px;
    li {
      margin: 0 5px;
      width: 15px;
      height: 6.5px;
    }
  }
  .first__slider-description {
    max-width: 50%;
    h1 {
      display: none;
    }
    h2 {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }
  #second__screen {
    background-image: url(../img/mobile/mobile-second_screen-bg.jpg);
    background-position: center top -10px;
    .left__sidebar {
      max-width: 100%;
    }
    .category__content {
      padding: 20px 0 0;
      &::before {
        display: none;
      }
    }

    .category__product-item {
      min-height: 310px;
    }
    .right__content {
      margin-bottom: 1px;
    }
  }
  .left__sidebar {
    max-width: 100%;
    width: 100%;
    .stock__items,
    .modal__btn {
      display: none;
    }
    nav ul {
      padding: 0;
      &::before {
        content: none;
      }
      li {
        padding-bottom: 10px;
        &:first-child {
          padding-top: 10px;
        }
      }
    }
    .сooling__systems .head {
      background-image: url(../img/mobile/mobile-triangle-bg-blue.png);
      height: 50px;
    }
    .heating__systems .head {
      background-image: url(../img/mobile/mobile-triangle-bg-orange.png);
      height: 50px;
    }
    .equipment .head {
      background-image: url(../img/mobile/mobile-triangle-bg-grey.png);
      height: 50px;
    }
  }
  .left__sidebar-decoration::after {
    content: none;
  }
  .second__screen-top__items {
    padding: 0 4%;
    transform: translate(0, -35px);
  }
  .second__screen-top__item {
    background-size: contain;
    width: 165px;
    height: 153px;
    padding: 0;
    margin-bottom: 8px;
    img {
      width: 125px;
      height: auto;
      object-fit: cover;
      border: none;
      box-shadow: none;
    }
    figcaption {
      font-size: 10px;
      margin: 30px auto 8px;
    }
    &:hover {
      transform: scale(1);
    }
  }
  .category__product-items {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .category__product-items {
    margin-bottom: 20px;
  }
  .category__product-item {
    .item__img {
      width: 150px;
      height: 111px;
      display: block;
      margin: 0 auto 6px;
    }
    &:nth-child(2n + 1)::before {
      content: "";
      display: block;
      border-left: 1px dashed #ff3d00;
      width: 1px;
      height: calc(100% - 36px);
      position: absolute;
      top: 9px;
      left: 0;
    }
  }

  #guarantee {
    .stock {
      padding-top: 12px;
      min-height: 280px;
      h3 {
        font-size: 18px;
        line-height: 20px;
      }
      p {
        font-size: 16px;
        line-height: 18px;
      }
    }
    .stock__pseudo {
      width: 125px;
      height: 28px;
      font-size: 16px;
      line-height: 18px;
    }
    .stock__name {
      font-size: 18px;
      line-height: 20px;
      max-width: 160px;
    }
    h2 {
      font-size: 18px;
      line-height: 20px;
    }
    img.category__description-left {
      margin: 0 0 15px;
    }
    .guarantee__table .modal__btn {
      max-width: 211px;
      min-height: 45px;
      bottom: 30px;
      a {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 17px 0 70px;
        min-height: 45px;
      }
    }
    .guarantee__table-items {
      padding: 20px 0 90px 40px;
      flex-direction: column;
      br {
        display: none;
      }
      li {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 15px;
        width: 100%;
        &::before {
          content: url(../img/mobile/mobile-ok.png);
          left: -25px;
          bottom: -5px;
        }
      }
    }
  }
  #contacts {
    h2 {
      padding: 15px;
      &::after {
        right: 15px;
        top: 25px;
        max-width: 200px;
      }
    }
    h3 {
      font-size: 12px;
      line-height: 14px;
      padding-left: 0;
    }
  }
  map {
    iframe {
      width: 100%;
      max-width: 300px;
      height: 163px;
    }
  }
  .contacts__content {
    justify-content: space-between;
    .left__map,
    .right__map {
      flex: 0 0 49%;
    }
    .left__map-content,
    .right__map-content {
      flex-direction: column;
      .map-content-adress {
        min-height: 163px;
        padding: 30px 6px 0 6px;
        p {
          &:nth-child(3) {
            display: none;
          }
          &:nth-child(1),
          &:nth-child(2) {
            font-size: 14px !important;
            line-height: 16px !important;
          }
        }
      }
    }
  }
  .modal {
    padding: 60px 25px;
  }
  #guarantee {
    .category__description {
      padding: 0 0px 20px;
      margin: 0 0 -1px;
      h2 {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
  #footer {
    padding: 10px 0 20px;
  }
  .footer__item {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__item:nth-child(1) {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .card__icon {
    margin-top: 0;
    margin-left: auto;
  }
  .footer__item:nth-child(2) {
    display: none;
  }
  .footer__item:nth-child(3) {
    margin-left: auto;
    display: flex;
    max-width: 84%;
    flex-wrap: wrap;
    justify-content: space-between;
    a,
    p {
      display: inline-block;
      width: 135px;
    }
    br {
      display: none;
    }
  }
  .icon__link {
    &::before {
      left: -25px;
    }
  }
  .footer__item {
    .logo {
      margin: 0;
      max-width: 70px;
    }
    figcaption {
      font-size: 12px;
      line-height: 14px;
    }
  }
  // #category
  #category {
    padding: 0;
    background-image: url(../img/mobile/mobile-catalog-bg.jpg);
    background-size: contain;
    .category__navigation {
      margin-bottom: 0;
    }
  }
  .heading {
    padding: 16px 10px 23px;
    h1 {
      font-size: 18px;
      line-height: 21px;
    }
  }
  .category__description {
    padding: 0 15px;
  }
}
