// modal
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 525px;
  height: 547px;
  background-image: url(../img/modal__bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 6;
  padding: 60px 52px;
  @include transition;
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}
.close-button {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 4;
  top: 13px;
  right: 23px;
  cursor: pointer;
  span {
    position: absolute;
    top: 14px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-46deg);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      transform: rotate(90deg);
    }
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  pointer-events: none;
  z-index: 5;
  @include transition;
  &.active {
    opacity: 0.6;
    pointer-events: all;
  }
}

input {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  color: rgb(153, 153, 153);
}

.modal__content-head {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 21px;
}
.modal__content {
  form {
    input {
      margin-bottom: 32px;
      min-height: 49px;
      padding: 14px 10px;
      font-size: 16px;
      color: rgb(153, 153, 153);
      background: rgb(255, 255, 255);
      border: 0.6px solid rgb(0, 0, 0);
      border-radius: 6px;
      &[type="submit"] {
        cursor: pointer;
        max-width: 200px;
        min-height: 55px;
        border-radius: 5px;
        border: 3px solid rgb(255, 61, 0);
        color: rgb(255, 61, 0);
        background: transparent;
        text-align: center;
        margin: 0 auto;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        @include transition;
        &:hover {
          background: rgb(255, 61, 0);
          color: white;
        }
      }
    }
    textarea {
      resize: none;
      width: 100%;
      height: 107px;
      font-family: inherit;
      font-size: 16px;
      padding: 14px 10px;
      color: rgb(153, 153, 153);
      background: rgb(255, 255, 255);
      border: 0.6px solid rgb(0, 0, 0);
      border-radius: 6px;
      margin-bottom: 46px;
    }
  }
}
