@import "_mixin";
@import "_mixin-form";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  color: rgb(51, 51, 51);
}
.container {
  max-width: $widthContent;
  margin: 0 auto;
  padding: 0 15px;
}
main {
  background-color: rgb(189, 189, 189);
  .container {
    background-color: white;
  }
}

form {
  width: 100%;
}
a,
.uk-link:hover,
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
picture {
  display: inline-block;
  img {
    object-fit: cover;
  }
}
img {
  width: 100%;
}
.lock {
  overflow: hidden;
}
.mobile__content,
.mobile__content-social,
.is-mobile {
  display: none;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
  font-style: normal;
}
ins {
  background: none;
}

// sliders settings
.slick-dots {
  position: absolute;
  display: flex;
  bottom: 22px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
  @include transition;
  li {
    background-color: rgb(255, 255, 255);
    margin: 0 13px;
    width: 28px;
    height: 13px;
    cursor: pointer;
    button {
      position: absolute;
      font-size: 0;
      height: 0;
    }
    &.slick-active {
      background-color: rgb(29, 71, 95);
    }
  }
}

// sliders arrows
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background: #036094;
  border-radius: 10px;
  height: 44px;
  width: 36px;
  cursor: pointer;
  @include transition;
  &::before {
    content: url(../img/icon/arrow__down-white.png);
    position: absolute;
    width: 17px;
    height: 17px;
  }
}
.slick-prev {
  left: 4px;
  &::before {
    left: 7px;
    transform: rotate(90deg);
  }
}
.slick-next {
  right: 4px;
  &::before {
    transform: rotate(-90deg);
    right: 7px;
    bottom: 14px;
  }
}

// breadcumbs
#breadcumbs {
  padding: 22px 5px;
  ul {
    padding: 0;
    @include flex;
    li {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &::after {
        content: "/";
        margin: 0 2px 0 0;
        color: rgb(51, 51, 51);
        font-size: 1em;
      }
      a,
      span {
        color: rgb(51, 51, 51);
        white-space: nowrap;
        line-height: 16px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        &:hover {
          text-decoration: none;
        }
      }
      &:last-child {
        &::after {
          content: none;
        }
        a {
          &:hover {
            opacity: 1;
            cursor: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.burger {
  display: none;
}

// woof-filter
.woof_checkbox_term {
  max-width: 10px;
}
.woof_reset_search_form {
  background-color: transparent;
  color: rgb(0, 56, 255);
  font-size: 16px;
  padding: 7px;
  border: 1px solid rgb(51, 51, 51);
  cursor: pointer;
  width: 100%;
}
.woof_container_inner {
  h4 {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.woof_block_html_items ul {
  border: 1px solid rgb(51, 51, 51);
  display: flex;
  flex-wrap: wrap;
}
.woof_list li {
  display: flex;
  align-items: center;
  width: 45%;
}
