//

.woocommerce-notice {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.wc-proceed-to-checkout {
  margin-top: 15px;
}
.woocommerce-privacy-policy-link {
  font-weight: bold;
}

.s-table__row--status-processing {
  text-align: center;
}

.wpcf7-response-output,
.span.wpcf7-not-valid-tip {
  font-size: 0.5em;
  margin: 0;
}

// settings

.woocommerce {
  margin: 0 auto;

  .page {
    padding: 20px 60px;
    .entry-title {
      padding: 0 0 25px;
    }
    h2 {
      padding: 0;
      &::after,
      &::before {
        content: none;
      }
    }
  }
  .entry-content,
  .entry-header {
    max-width: $widthContent;
    margin: 0 auto;
    .woocommerce {
      background-image: none;
    }
  }
  .entry-content,
  #payment {
    h3 {
      font-size: 1.5em;
      padding: 10px 0;
    }
    p {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 0.8em;
      font-weight: normal;
    }
    .select2-selection__rendered {
      font-size: 1.25rem;
    }
    .notes {
      @include flex;
      flex-direction: column;
    }
  }

  .woocommerce-checkout-review-order-table {
    @include flex;
    tfoot {
      width: 100%;
    }
    .order-total {
      padding: 10px 0 20px;
      p {
        font-weight: bold;

        font-size: 1.3em;
        span {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  // table
  .woocommerce-checkout-review-order-table {
    .cart-subtotal {
      display: none;
    }
    thead,
    tbody {
      tr {
        display: grid;
        grid-template-columns: 200px 1fr;
        th,
        td {
          padding: 10px 0px;
          text-align: left;
        }
      }
    }
    thead {
      margin: 0 30px 0 0;
    }
    tfoot {
      margin: 10px 0;
      tr {
        display: block;
      }
    }
    .woocommerce-shipping-totals {
      th {
        padding-right: 16px;
      }
    }
    .order-total {
      th {
        padding-right: 50px;
      }
    }
  }

  //   cart-counter
  .count-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(51, 51, 51);
    width: 80px;
    height: 65px;
    margin: 0 auto;

    span,
    .sum_count input {
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #333333;
      font-weight: bold;
      cursor: pointer;
    }
    .sum_count input {
      width: 45px;
      padding: 0 2px;
      text-align: center;
      &:focus {
        border: 1px solid rgba(51, 51, 51, 0.231);
      }
    }
  }
}

// cart

.cart-empty {
  padding: 10rem 0 20rem;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  width: 100%;
  max-width: $widthContent;
  margin: 0 auto;
}
.return-to-shop {
  color: #333333;
  padding: 20px 0;
  width: 100%;
  max-width: $widthContent;
  margin: 0 auto;
}
// woocommerce-message
.woocommerce-message {
  display: none;
}
//  woocommerce-thankyou-order-details
.woocommerce-thankyou-order-details {
  margin: 20px 0;
}
.woocommerce-order-details__title,
.woocommerce-column__title {
  margin: 20px 0;
  text-align: center;
}
.woocommerce-customer-details {
  address {
    padding-bottom: 50px;
  }
}

// pagination
nav.woocommerce-pagination {
  padding: 40px 0;
  ul.page-numbers {
    @include flex;
    justify-content: center;
    a {
      display: inline-block;
      width: 30px;
      color: rgb(92, 92, 92);
      @include transition;
      &.prev {
        width: 97px;
      }
    }
    li {
      a,
      span {
        display: block;
        width: 27px;
        height: 27px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(239, 242, 245);
        border-radius: 1px;
        @include transition;
        margin: 0 5px;
        color: rgb(92, 92, 92);
        font-size: 14px;
        padding: 6px 0px;
        text-align: center;
        &:hover {
          background-color: rgb(3, 96, 148);
          color: white;
        }
        &.current {
          background-color: rgb(3, 96, 148);
          color: white;
        }
        &.dots,
        &.extend {
          border: none;
          padding: 10px 0 0;
          &:hover {
            background-color: transparent;
            color: rgb(92, 92, 92);
          }
        }
      }
    }
  }
}
